USE [master]
GO
/****** Object:  Database [Clothing Database]    Script Date: 2023/12/14 22:05:22 ******/
CREATE DATABASE [Clothing Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Clothing Database', FILENAME = N'E:\Sql Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Clothing Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Clothing Database_log', FILENAME = N'E:\Sql Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Clothing Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Clothing Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Clothing Database]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 2023/12/14 22:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[GoodsID] [int] IDENTITY(1,1) NOT NULL,
	[BarCode] [nvarchar](20) NOT NULL,
	[TypeID] [int] NOT NULL,
	[GoodsName] [nvarchar](50) NOT NULL,
	[StorePrice] [decimal](8, 2) NOT NULL,
	[SalePrice] [decimal](8, 2) NOT NULL,
	[Discount] [decimal](4, 2) NOT NULL,
	[StockNum] [int] NOT NULL,
	[StockDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GoodsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[BarCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 2023/12/14 22:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SalesID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptsCode] [nvarchar](50) NOT NULL,
	[SalesDate] [date] NOT NULL,
	[AllMoney] [decimal](8, 2) NOT NULL,
	[SalesmanID] [int] NOT NULL,
	[CashierID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ReceiptsCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesDetail]    Script Date: 2023/12/14 22:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesDetail](
	[SDID] [int] IDENTITY(1,1) NOT NULL,
	[SalesID] [int] NOT NULL,
	[GoodsID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[GoodsMoney] [decimal](8, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SDID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalesMan]    Script Date: 2023/12/14 22:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesMan](
	[SalesmanID] [int] IDENTITY(1,1) NOT NULL,
	[SalesmanName] [nvarchar](50) NOT NULL,
	[Mobile] [nvarchar](20) NOT NULL,
	[Pwd] [nvarchar](20) NOT NULL,
	[Gender] [nvarchar](2) NOT NULL,
	[Wage] [decimal](8, 2) NOT NULL,
	[CommissionRate] [decimal](4, 2) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 2023/12/14 22:05:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Goods] ADD  DEFAULT ((1)) FOR [Discount]
GO
ALTER TABLE [dbo].[Goods] ADD  DEFAULT (getdate()) FOR [StockDate]
GO
ALTER TABLE [dbo].[Sales] ADD  DEFAULT (getdate()) FOR [SalesDate]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [CK_Goods] CHECK  (([stockNum]>=(0)))
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [CK_Goods]
GO
ALTER TABLE [dbo].[SalesMan]  WITH CHECK ADD CHECK  (([Gender]='女' OR [Gender]='男'))
GO
ALTER TABLE [dbo].[SalesMan]  WITH CHECK ADD CHECK  (([Role]='收银员' OR [Role]='导购员' OR [Role]='店长'))
GO
USE [master]
GO
